html
  head
    title=Shellviz
    link(rel='stylesheet',href='/static/main.css')
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Inconsolata|Meera+Inimai')
  body
    div(class='wrapper')
        div(class='nav')
            a(href='/') Home
            a(href='/docs',class='active') Docs

        img(src='/static/logo.png')
        h1 Shellviz
        h2 Docs

