html
  head
    title=Shellvis
    link(rel='stylesheet',href='/static/main.css')
    link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Inconsolata|Meera+Inimai')
  body
    div(class='wrapper')
        img(src='/static/logo.png')
        h1 Shellvis
        h2 Easily visualize data from your code
        a(href=url,class='download') Download (OS X)
