body {
    font-family: 'Meera Inimai', HelveticaNeue, sans-serif;
    margin: 0;
}
/* fonts */
h1,h2,h3,h4 {
    color: #DD2C00;
}
.text-light {
    color: #fff;
}
body p {
    font-size: 1em;
}
/* end fonts */
a.logo {
    text-decoration: none;
}
a.logo h1 {
    display: inline;
    margin: 0;
}
a.logo h1:after {
    content: '';
    display: inline-block;
    height: 1.2em;
    width: 1.2em;
    margin-left: .2em;
    background-image: url(/static/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
}
h2.subtitle {
    margin: 0;
    font-weight: 100;
    line-height: 1.2em;
    color: #DD2C00;
}

/* header */
.header {
    background-image: linear-gradient(-180deg, #FDFDFD 0%, #FFF8E1 98%);
    padding: 75px 0 50px;
}
.sub-header {
    background: #FFB300;
    padding: 30px 0;
}
.sub-header-libraries-header {
    margin: 1em 0 0.2em 0;
}
.navigation {
    position: fixed;
    top: 1vh;
    right: 2%;
    text-align: right;
}
.navigation a {
    color: #111;
    font-weight: normal;
    margin-left: 1em;
}
.navigation a.active {
    text-decoration: none;
    font-weight: bold;
}
/* end header */
.content {
    width: 44%;
    margin-left: 3%;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
}

/* examples */
.example {
    padding: .7em .5em;
    transition: background .3s;
    cursor: pointer;
    margin: 0.5em 0;
}
.example h3 {
    margin: 0;
}
.example.active {
    background: #FFF9E6;
    border-radius: 4px;
}
.example:hover {
    background: #fffcf2;
}
.example:hover .btn-send {
    background: #ffb300;
    border: 4px solid #ffb300;
}
.example:active .btn-send {
    border: 4px solid #FFF9E6;
}
.example pre {
    overflow-x: auto;
    background: #F9F9F9;
    border: 1px solid #F3E8F7;
    padding: 1em .5em;
}
/* end examples */

/* buttons */
.btn-library {
    font-size: 1.3em;
}
.btn {
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    background: #E65100;
    color: #fff;
    display: inline-block;
    line-height: 1em;
    padding: .5em 1em;
}
.btn i {
    margin-right: .3em;
}
.btn-download {
    padding: 1em 0;
    display: block;
    font-weight: bold;
    font-size: 1.3em;
}
.btn-send {
    transition: background .6s, border .8s;
    border: 4px solid #E65100;
}
/* /buttons */

.shellviz-window {
    position: fixed;
    top: 5vh;
    right: 2%;
    width: 48%;
    height: 90vh;
    background-color: #fff;
    border: 4px solid #e65100;
    border-radius: 8px;
    overflow-y: auto;
}
.shellviz-window:before {
    content: '';
    height: 35px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background: no-repeat 0% 50% url(osx-buttons.png) #e65100;
}

/* layout helpers */
.ml-1 { margin-left: 0.5em; }
.ml-2 { margin-left: 0.8em; }
.ml-3 { margin-left: 1.5em; }
.mr-1 { margin-right: 0.5em; }
.mr-2 { margin-right: 0.8em; }
.mr-3 { margin-right: 1.5em; }
/* end layout helpers */

/* ------------- TABS -------------------
 https://www.w3schools.com/howto/howto_js_tabs.asp */
/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em 1.2em;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabcontent.active {
    display: block;
}
/* ------------- END TABS ------------------- */
